<p id="notice"><%= notice %></p>
<div class="ui container">
  <h1>Owners</h1>
  <%= will_paginate @owners %>
<table class="ui celled padded table">
  <thead>
    <tr>
      <th>Name</th>
      <th>car year</th>
      <th>car Make</th>
      <th>car Model</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.name %></td>
        <td><%= Year.find(Car.find(owner.car_id_id).year_id_id).year %></td>
        <td><%= Car.find(owner.car_id_id).make%></td>
        <td><%= Car.find(owner.car_id_id).model%></td>
        <td><%= link_to 'Show', owner, class: 'ui positive basic button' %></td>
        <td><%= link_to 'Edit', edit_owner_path(owner), class: 'ui primery basic button' %></td>
        <td><%= link_to 'Destroy', owner, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui negative basic button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= will_paginate @owners %>
  <%= link_to 'New Owner', new_owner_path %>
</div>
<br>

